<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"


      th:replace="~{base::Layout(~{::section})}"
>
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<section>
<!--Start  Slider  <!>-->



    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/ecom1.png" class="d-block w-100" alt="..." height ="350px">
            </div>
            <div class="carousel-item">
                <img src="img/ecom3.jpg" class="d-block w-100" alt="..."  height ="350px">
            </div>
            <div class="carousel-item">
                <img src="img/ecom2.jpg" class="d-block w-100" alt="..."  height ="350px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!--Start  Category Module  <!>-->
    <div class="container">
        <div class="row">
            <p class ="text-center fs-4">Category</p>
            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/appli.png" width =65% height="140px">
                          <p>Electronic</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/beuty.png" width =65% height="140px">
                        <p>Beauty</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/groccery.jpg" width =65% height="140px">
                        <p>Groccery</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/laptop.jpg" width =65% height="140px">
                        <p>Laptop</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/mobile.png" width =65% height="140px">
                        <p>Mobile</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img src="img/category_img/pant.png" width =65% height="140px">
                        <p>Pant</p>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!--End  Category Module <!>-->


    <!--Start latest product <!>-->
    <div class="container-fluid bg-light p-3">
        <div class="row">
            <p class="text-center fs-4">Latest Product</p>

            <div class="col-md-3" th:each="p:${products}">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img alt="" th:src="@{'img/product_img/'+${p.image}}" class="" width="65%"
                             height="140px">
                        <p class="text-center"><a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a></p>
                    </div>
                </div>
            </div>


            	<div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
                                height="140px">
                            <p class="text-center">HP Laptop</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img alt="" src="img/product_img/iphone.jpeg" class="" width="65%"
                                height="140px">
                            <p class="text-center">Iphone</p>
                        </div>
                    </div>
                </div>

            <div class="col-md-3">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner text-center">
                            <div class="carousel-item active">
                                <img src="img/product_img/perfumes.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Perfume 1">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/perfumes1.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Perfume 2">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/perfumes2.jpg" class="d-block mx-auto" width="65%" height="140px" alt="Perfume 3">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/perfumes3.png" class="d-block mx-auto" width="65%" height="140px" alt="Perfume 4">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                    <div class="card-body text-center">
                        <p class="text-center">Men's Perfumes</p>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div id="shoeCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner text-center">
                            <div class="carousel-item active">
                                <img src="img/product_img/shoes.jpg" class="d-block mx-auto" width="65%" height="140px" alt="Shoes 1">
                            </div>
                            <div class="carousel-item active">
                                <img src="img/product_img/shoes1.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Shoes 1">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/shoes2.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Shoes 2">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/shoes3.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Shoes 3">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/shoes4.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Shoes 3">
                            </div>
                            <div class="carousel-item">
                                <img src="img/product_img/shoes5.jpeg" class="d-block mx-auto" width="65%" height="140px" alt="Shoes 3">
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#shoeCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#shoeCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                    <div class="card-body text-center">
                        <p class="text-center">Men's Shoes</p>
                    </div>
                </div>
            </div>


        </div>
    </div>




    <!--End latest product <!>-->
</section>
</body>
</html>